<%= form_with url: search_index_url, method: :get, local: true do |form| %>
  <div>
    <%= form.label :words, "検索ワード(空白区切り)" %>
    <%= form.text_field :words %>

  <div>
    <%= form.submit "検索" %>
  </div>
<% end %>
