<div id="<%= dom_id board %>">
  <p>
    <strong>Title:</strong>
    <%= board.title %>
  </p>

  <p>
    <strong>User:</strong>
    <%= board.user_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= board.category_id %>
  </p>

</div>
